/* sign up page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: aliceblue;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0;
    text-align: center;
}

.signup-title {
    font-weight: bold;
    font-size: 24px;
}


.container {
    max-width: 600px;
    margin: 0 ;
    text-align: center;
}

.login-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

/* incoming index starts here */
/* index stylling starts here */
/* index stylling starts here */
 
  .header{
    flex-direction: column;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
  }
  .header h4{
    font-size: small;
  }
  .conta{
    display: flex;
    flex-direction: column;
    background-color: gold;
    text-align: left;
    justify-content: center;
    padding: 30px;
    border-radius: 40px 0 40px 0;
  }
  .conta i{
    font-size: 30px;
  }
  .conta_link{
    display: flex;
    align-items: center;
  }
  .header_section1{
    font-size: small;
    display: flex;
    justify-content: space-between;
  }
  .header_section1 h5{
    font-weight: bolder;
    font-size: medium;
  }
  .header_section1 a{
    font-size: larger;
    font-weight: bolder;
  }
  .logo img{
    width: 100px;
    border-radius: 50%;
  }
  .nav{
    position: relative;
    display: flex;
    justify-content: space-evenly;
  }
  .option{
    font-size: larger;
    text-decoration: none;
    color: black;
  }
  .option h4{
    font-weight: bolder;
  }

  .video-background video {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .video-background  {
    position: relative;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5; 
  }

    .intro_section{
      position: relative;
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
      padding: 10px;
    } 
    .vid_container{
      position: relative;
      width: 100%; 
      height: 700px; 
      overflow: hidden;
    }
    
  .intro_words{
    background-image: radial-gradient(rgba(0, 0, 0, 0.541),rgba(128, 128, 128, 0.432)) ;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 40%;
  }
  .mission{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:center;
    width: fit-content;
  }
  .mission h4{
    color: gold;
    font-weight:bolder;
    text-align:center;
    padding-top: 5px;
    font-size: 30px;
    text-decoration: underline;
  }

  .intro_content{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 10%;
    left: 5%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    z-index: 10;

  }
  .intro_img{
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  .intro_img img{
    filter: blur(0); 
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
  }
  /* styling for the main content comes here */
  
  .footer{
    display: flex;
    color: black;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(to top,black,gold 70%);
  }
  .form{
    text-align: center;
    color: white;
    background-color: rgb(38, 3, 161);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: 20px;
  }
  .form h6{
    font-weight: bolder;
    font-size: small;
    font-style:italic;
  }
  #name,#email{
    width: 40%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  #message{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: none;
    resize: vertical;
  }
  #submit_button{
    background-color: gold;
    border: none;
    color: rgb(3, 3, 3);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }
  .address{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 5%;
    margin: 20px;
    width: 100%;
  
  }
  .physical_address,.social_address,.contacts{
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    padding: 10px;
    margin: 5px;
  
    
  }
  .contacts a{
    display:flex;
    text-decoration: none;
    margin: 5px;
    color: black;
  }
  .social_address a{
    text-decoration: none;
    display: flex;
    color: black;
    margin: 5px;
  
  }
  .contacts a i,.social_address a i{
    margin:5px;
  }
  .copyright{
    font-size: small;
    text-align: center;
    color:white; 
    font-style: italic;
    padding: 10px;
  }
  /* nav2 for screens less than 600px */
  .nav2 {
    display: none;
    position: relative;
    text-align: left;
    margin: 10px;
  }
  
  .nav2 i {
    font-size: 24px;
    cursor: pointer;
  }
  #close{
    top: 0;
    left: 0;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    z-index: -1;
    background-color: aliceblue;
    padding: 5px;
  }
  .nav_links {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    background-color: gold;
    border-radius: 10px;
    padding: 10px;
    z-index: 5;
    margin: 10px;
  }
  
  .nav_links li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px;
  
  }
  
  .nav_links li a {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    color: #000;
    text-decoration: none;
  }
  .nav_links li a h4 {
    font-weight: bolder;
    font-size: medium;
  }
  .nav_links li a i {
    font-size: 18px;
    cursor: pointer;
  
  }
  .nav_links li a:hover {
    color:blue;
    border-radius: 5px;
  }
  
  
  
  @media screen and (max-width: 600px) {
    .nav2 {
      display: block;
    }
  
    .nav{
      display: none;
    }
    .physical_address,.social_address,.contacts{
      border-left: none;
      align-items: left;
      border-bottom: 2px solid black;
      width: 100%;
      padding-left: 10%;
      
    }
   .address{
     display: flex;
     flex-direction: column;
     align-items: center;
  
    
   }
   .address h4{
    text-align:center;
   }
   .contacts{
    border: none;
   }
  } 
  
  /* index styling ends here */
  

  /* services styling starts here */
  .main h3{
    text-align: center;
  }
  .service_intro{
    color: black ;
  }
  .service1,.service2,.service3,.service4,.service5{
    display: flex;
  }
  
  
  .service_name1,.service_name2,.service_name3,.service_name4,.service_name5{
    position: absolute;
    background-color: black;
    color: white;
    font-size: x-large;
    padding: 5px;
    height: fit-content;
  }
  .service_name1{
    right:50%;
  }
  .service_name2{
    left: 50%;
  }
  .service_name3{
    right: 50%;
  }
  .service_name4{
    left: 50%;
  }
  .description{
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
  }
  .description p{
    padding: 20px;
  }
  .service1 img{
    width: 50%;
    border-right: 4px solid black;
  
    
  }
  .service2 img{
    width: 50%;
    border-left: 4px solid black;
  
  }
  .service3 img{
    width: 50%;
    border-right: 4px solid black;
  
  }
  .service4 img{
    width: 50%;
    border-left: 4px solid black;
  
  
  }
  
  /* services styling ends here */
  
  /* incoming index ends here */



/* index.html page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex-grow: 1;
}

.logo-link {
    text-decoration: none;
    color: white;
}

.logo-img {
    width: 50px; 
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.auth-buttons a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.full-width-image {
    width: 100%;
}

/* appointment-booking page styling */

.booking-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#appointment-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}

/* Add any additional styling as needed */

.contact-container {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #171ddb;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.contact-container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #171ddb;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #171ddb;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #171ddb;
}

@media (max-width: 950px) {
    .contact-container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .contact-container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .contact-container {
        margin: 40px 0;
        height: 100%;
    }

    .contact-container .content {
        flex-direction: column-reverse;
    }

    .contact-container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-container .content .left-side::before {
        display: none;
    }

    .contact-container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
} 